@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

#container {
	width: 1100px;
	margin: 0 auto;
	font-size: 9px;
}

#topo {
	background-image: url("../imagens/head/bgnew.png");
	height: 85px;
}

#redesocial {
	background-color: #fff;
	float: right;
	height: 600px;
	width: 200px;
}

#siteNotice {
	background-color: #002222;
	margin: 0;
}

#tudo {
	background-color: #FFFFFF;
	height: 210px;
	width: 300px;
	positon: relative;
}

#titulo {
	background-color: #FFFFFF;
	font-family: Arial;
	font-style: bold;
	font-size: 25px;
	color: #000000;
	position: absolute;
	top: 0;
	width: 300px;
	height: 30px;
	left: 0;
}

#texto {
	background-color: #FFFFFF;
	font-family: Arial;
	position: absolute font-style:    normal;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 40px;
	float: left;
	font-size: 15px;
	height: 130px;
	width: 150px;
	bottom: 0;
}

#imagem {
	background-color: #FFFFFF;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 40px;
	height: 130px;
	position: relative;
	float: right;
	width: 150px;
	bottom: 0;
}

#button {
	background-color: #FFFFFF;
	height: 40px;
	position: absolute;
	width: 300px;
	bottom: 0;
	text-align: bottom;
}

#conteudo {
	background-color: #ff9;
	height: 460px;
	width: 893px;
	float: left;
}

#maparede {
	background-color: #98cf18;
	background-image: url(../imagens/categorias/bgcategorias.png);
	float: left;
	height: 460px;
	width: 1100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

#iconesnew {
	background-image: url(../imagens/categorias/bgcategorias.png);
	float: left;
	height: 460px;
	width: 207px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
	color: #FFFFFF;
	text-decoration: none;
	overflow: auto;
}

#icones {
	background-image: url(../imagens/categorias/bgcategorias.png);
	float: right;
	height: 460px;
	width: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
	color: #FFFFFF;
	text-decoration: none;
}

/*#timeline {
	float: left;
	height: 100px;
	width: 1100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
	color: #FFFFFF;
}
*/
#timelinenew {
	float: right;
	height: 100px;
	width: 900px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
	color: #FFFFFF;
}

#rodape {
	background-color: #09f;
	clear: both;
	height: 30px;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #FFF;
	margin-top: 0px;
	padding-top: 0px;
}

#container #redesocial #campos table {
	font-size: 10px;
}

#container #redesocial #campos table tr td {
	font-family: Arial, Helvetica, sans-serif;
}

#redesocial table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#topo table {
	font-size: 10px;
}

#topo table {
	color: #FFF;
}

#icones table tr td h1 .icones {
	text-decoration: none;
	font-size: 12px;
	font-style: normal;
	color: #FFF;
	font-family: Arial;
}

#iconesnew table tr td h1 .icones {
	text-decoration: none;
	font-size: 12px;
	font-style: normal;
	color: #FFF;
	font-family: Arial;
}

#iconesnew a:hover {
	text-decoration: none;
	color: #000;
	background: #3B5998 font-family:    Arial, Helvetica, sans-serif;
	font-size: 7px;
}

#iconesnew a:active {
	text-decoration: none;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
}

#iconesnew a:visited {
	text-decoration: none;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
}

#iconesnew a:link {
	text-decoration: none;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
}

#iconesnew a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
}

#encontraEvento {
	font-size: 9px;
	color: #FFFFFF;
	font-weight: bold;
}

#artesplasticas {
	background: url("../imagens/iconescategorias/artesplasticas.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#celebracoesreligiosas {
	background: url("../imagens/iconescategorias/religiosas.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#cenicacircense {
	background: url("../imagens/iconescategorias/cenicas.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#danca {
	background-image: url("../imagens/iconescategorias/danca.png");
	background-repeat: no-repeat;
	font-family: "Arial";
	font-size: 6px;
}

#esportesjogos {
	background: url("../imagens/iconescategorias/esportes.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#infantis {
	background-image: url(../imagens/iconescategorias/infantis.png);
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#literatura {
	background-image: url(../imagens/iconescategorias/literatura.png);
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#musica {
	background: url("../imagens/iconescategorias/musica.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#oficinaspalestras {
	background: url("../imagens/iconescategorias/oficinaspalestras.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#festivais {
	background: url("../imagens/iconescategorias/festivais.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#videofotografia {
	background: url("../imagens/iconescategorias/cinema.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#outros {
	background: url("../imagens/iconescategorias/outros.png");
	background-repeat: no-repeat;
	position: relative;
	font-family: "Arial";
	font-size: 6px;
}

#celebracoesreligiosas:hover {
	background: #3B5998 url("../imagens/iconescategorias/religiosas.png");
	background-repeat: no-repeat;
}

#submenu {
	font-size: 10px;
	border: #ccc solid 1px;
}

#submenu li {
	background: url("../imagens/iconescategorias/cenicas.png") no-repeat;
	padding-left: 27px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#literatura h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/literatura.png")
		no-repeat;
}

#outros h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/outros.png")
		no-repeat;
}

#artesplasticas h1:hover {
	background: #3B5998
		url("../imagens/iconescategorias/artesplasticas.png") no-repeat;
}

#videofotografia h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/cinema.png")
		no-repeat;
}

#festivais h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/festivais.png")
		no-repeat;
}

#musica h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/musica.png")
		no-repeat;
}

#cenicacircense h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/cenicas.png")
		no-repeat;
}

#esportesjogos h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/esportes.png")
		no-repeat;
}

#infantis h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/infantis.png")
		no-repeat;
}

#danca h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/danca.png")
		no-repeat;
}

#artesplasticas h1:hover {
	background: #3B5998
		url("../imagens/iconescategorias/artesplasticas.png") no-repeat;
}

#oficinaspalestras h1:hover {
	background: #3B5998
		url("../imagens/iconescategorias/oficinaspalestras.png") no-repeat;
}

#celebracoesreligiosas h1:hover {
	background: #3B5998 url("../imagens/iconescategorias/religiosas.png")
		no-repeat;
}

h1 {
	color: #FFFFFF;
	padding: 8px;
	padding-left: 30px;
}

#submenu li:hover {
	background: #3B5998 url("../imagens/iconescategorias/cenicas.png")
		no-repeat;
}